// MAIN
$text-main: #fff;
$text-inverted: #000;
$body-bg: #131313;

// ACCENTS
$accent: #C2AB81;

$accent-link: #FF6700;
$accent-link-hover: #F95B07;

// ACCENT BACKGROUNDS
$accent-bg: #FF6700;
$accent-bg-hover: #F95B07;

// MAIN BUTTONS
$btn-bg: #000;
$btn-text: #fff;
$btn-bg-hover: #333;

$btn-text: #fff;
$btn-text-hover: #fff;

// INPUTS
$input-bg: #ffffff;
$input-border: #e5e5e5;
$input-text: #555;
$placeholder-text: #a4a4a4;

// FOOTER
$footer-bg: #212121;
$footer-text: #B0B0B0;







