block variables
	- let title = 'title'

head
	meta(charset='utf-8')
	meta(name='description', content='')
	meta(name='keywords', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='icon', type="image/png", href='assets/images/favicon/favicon.png')
	link(rel='stylesheet' href='css/normalize.css')
	link(rel='stylesheet' href='css/style.min.css')
	// link(rel='stylesheet' href='css/bootstrap.min.css')
	title #{title}
