extends html/base

block variables
	- let title = 'Главная'

block content
	section.first-screen(style="background-image: url('img/bg/home-main-bg.jpg')")
		.container
				h1.first-screen__title.title Полет Илона Маска и Dogie Coin
				p.first-screen__subtitle.subtitle В прошлый четверг все офигели от полета DOGIE COIN на марс.
				a.first-screen__btn.btn.btn--accent.btn--skew(href='#callbackModal' data-toggle='modal') Оставить заявку

	section.cards.section-padding
		.container
			h2.cards__title.title.title--offset Карточки
			.cards__cards-wrapper

				.cards__card-item.card-item
					.card-item__header
						img(src='img/content/card-img-1.jpg' alt="Post photo")
					.card-item__body
						h6.card-item__title Bridge
						p.card-item__slogan How to increase your productivity with a Music
						p.card-item__preview-text.
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						.card-item__bottom
							.card-item__post
								p Posted by <b>Eugenia</b>, on <time datetime='2019-07-24T09:30:00'>July 24, 2019</time>
							a.card-item__btn.btn(href="#" title='Post') Continue reading



				.cards__card-item.card-item
					.card-item__header
						img(src='img/content/card-img-1-2.jpg' alt="Post photo")
					.card-item__body
						h6.card-item__title Water
						p.card-item__slogan How to increase your productivity with a Music
						p.card-item__preview-text.
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						.card-item__bottom
							.card-item__post
								p Posted by <b>Eugenia</b>, on <time datetime='2019-07-24T09:30:00'>July 24, 2019</time>
							a.card-item__btn.btn(href="#" title='Post') Continue reading



				.cards__card-item.card-item
					.card-item__header
						img(src='img/content/card-img-1-3.jpg' alt="Post photo")
					.card-item__body
						h6.card-item__title Bridge
						p.card-item__slogan How to increase your productivity with a Music
						p.card-item__preview-text.
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						.card-item__bottom
							.card-item__post
								p Posted by <b>Eugenia</b>, on <time datetime='2019-07-24T09:30:00'>July 24, 2019</time>
							a.card-item__btn.btn(href="#" title='Post') Continue reading



				.cards__card-item.card-item
					.card-item__header
						img(src='img/content/card-img-1-4.jpg' alt="Post photo")
					.card-item__body
						h6.card-item__title Bridge
						p.card-item__slogan How to increase your productivity with a Music
						p.card-item__preview-text.
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						.card-item__bottom
							.card-item__post
								p Posted by <b>Eugenia</b>, on <time datetime='2019-07-24T09:30:00'>July 24, 2019</time>
							a.card-item__btn.btn(href="#" title='Post') Continue reading




				.cards__card-item.card-item.d-none.d-md-block
					.card-item__header
						img(src='img/content/card-img-1-5.jpg' alt="Post photo")
					.card-item__body
						h6.card-item__title Bridge
						p.card-item__slogan How to increase your productivity with a Music
						p.card-item__preview-text.
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						.card-item__bottom
							.card-item__post
								p Posted by <b>Eugenia</b>, on <time datetime='2019-07-24T09:30:00'>July 24, 2019</time>
							a.card-item__btn.btn(href="#" title='Post') Continue reading

				.cards__card-item.card-item.d-none.d-md-block
					.card-item__header
						img(src='img/content/card-img-1-6.jpg' alt="Post photo")
					.card-item__body
						h6.card-item__title forest
						p.card-item__slogan How to increase your productivity with a Music
						p.card-item__preview-text.
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						.card-item__bottom
							.card-item__post
								p Posted by <b>Eugenia</b>, on <time datetime='2019-07-24T09:30:00'>July 24, 2019</time>
							a.card-item__btn.btn(href="#" title='Post') Continue reading


				.cards__card-item.card-item
					.card-item__header
						img(src='img/content/card-img-1-7.jpg' alt="Post photo")
					.card-item__body
						h6.card-item__title.invisible Invisible
						p.card-item__slogan How to increase your productivity with a Music
						p.card-item__preview-text.
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						.card-item__bottom
							.card-item__post
								p Posted by <b>Eugenia</b>, on <time datetime='2019-07-24T09:30:00'>July 24, 2019</time>
							a.card-item__btn.btn(href="#" title='Post') Continue reading


				.cards__card-item.card-item
					.card-item__header
						img(src='img/content/card-img-1-8.jpg' alt="Post photo")
					.card-item__body
						h6.card-item__title Nature
						p.card-item__slogan How to increase your productivity with a Music
						p.card-item__preview-text.
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						.card-item__bottom
							.card-item__post
								p Posted by <b>Eugenia</b>, on <time datetime='2019-07-24T09:30:00'>July 24, 2019</time>
							a.card-item__btn.btn(href="#" title='Post') Continue reading


				.cards__card-item.card-item.d-none.d-md-block
					.card-item__header
						img(src='img/content/card-img-1-9.jpg' alt="Post photo")
					.card-item__body
						h6.card-item__title Nature
						p.card-item__slogan How to increase your productivity with a Music
						p.card-item__preview-text.
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						.card-item__bottom
							.card-item__post
								p Posted by <b>Eugenia</b>, on <time datetime='2019-07-24T09:30:00'>July 24, 2019</time>
							a.card-item__btn.btn(href="#" title='Post') Continue reading

				.cards__card-item.card-item.d-none.d-md-block
					.card-item__header
						img(src='img/content/card-img-1-10.jpg' alt="Post photo")
					.card-item__body
						h6.card-item__title Nature
						p.card-item__slogan How to increase your productivity with a Music
						p.card-item__preview-text.
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						.card-item__bottom
							.card-item__post
								p Posted by <b>Eugenia</b>, on <time datetime='2019-07-24T09:30:00'>July 24, 2019</time>
							a.card-item__btn.btn(href="#" title='Post') Continue reading



			.cards__btn-more
				button.cards__btn.btn.btn--accent.btn--skew(type='button') Загрузить еще