@font-face {
	font-family: montserrat;
	font-display: swap;
	src: url("../fonts/montserrat-700.woff2") format("woff2"), url("../fonts/montserrat-700.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: montserrat;
	font-display: swap;
	src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: mulish;
	font-display: swap;
	src: url("../fonts/mulish-600.woff2") format("woff2"), url("../fonts/mulish-600.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: mulish;
	font-display: swap;
	src: url("../fonts/mulish-700.woff2") format("woff2"), url("../fonts/mulish-700.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
